

.whole-site{
    box-sizing: border-box;
    width: 100%;
    height: auto;
    background-color: #000;
}
.main{
    display: flex;
    flex-direction: row;
    
}
/* này phần của C là 65% hì */
/*.main-left{
    width: 65%;
    
}*/
.main-left img{
    width: 100%;
    
}

/* còn này là cái right content t bỏ 34% */
.main-right{
   
}
.main-right .mainr-title
{
    width: 100%;
    color: #F5C518;
    font-weight: bold;
    font-size: 25px;
    position: relative;
    left: 6px;

}
.main-right .mainr-info {
    margin-top: 20px;
    margin-left: auto;
    margin-right: 38px;
    width: 90%;
    height: auto;
    border: 2px solid #101010;
    background-color: #101010;
    display: flex;
    flex-direction: column;
    overflow: hidden; /* Hide overflowing text */
            word-wrap: break-word; /* Break long words */
}
.main-right .mainr-info .mainr-information{
    display: flex;
    flex-direction: row;
    margin: 10px 10px;
    height: 33%;
}
.main-right .mainr-info .mainr-information .mainr-information-img{
    width: 30%;
}
 .mainr-information-img img{
    width: 90%;
    height: 90%;
}
.mainr-information-dt{
    display: flex;
    flex-direction: column;
    width: 65%;
}
 .mainr-information-dt .mainr-information-details{
    width: 100%;
    padding-left: 10px;
    font-size: 15px;
}
.no-wrap {
    white-space: nowrap;
}
.gray-text {
    color: gray;
    font-size: smaller;
}
.play-button {
    position: relative;
    left: 10px;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    background-color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white; 
    margin-bottom: 10px;
  }
  .play-button:hover {
    background-color: black ;
    border: 2px solid #F5C518;
  }
  .triangle {
    width: 0;
    height: 0;
    border-top: 9px solid transparent; 
    border-bottom: 9px solid transparent;
    border-left: 9px solid white; 
  }
  .reactions {
    display: flex; 
    align-items: center; 
    position: relative;
    left: 10px;
    margin-top: 10px;
}
.reaction {
    margin-right: 5px;
    font-size: 14px; 
}
.reaction .fa-thumbs-up {
    color: blue; 
  }
  
  .reaction .fa-heart {
    color: #ff69b4; 
  }
  
 .fa-grin, .fa-laugh, .fa-smile, .fa-surprise {
    color: yellow; 
  }
