.card-topnews{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: auto
}

.topnew-body-content{
    color: #fff
}

.topnew-img img{
    min-height: 100%;
    width: 100%;
}

.g-col-4{
    height: 100%;
    width: auto
}
